<h1>Homepage Stub</h1>
<p>
	This is a barebones stub for the homepage.
	For now, this will be used to navigate around to manage components of the application.
	Eventually it will be replaced with an actual public front-end.
</p>

<h2>Temporary Navigation</h2>
<p>
	<%= link_to "Manage Locations", locations_path %>
</p>
