/*Color Scheme http://colorschemedesigner.com/#2M32iw0w0w0w0*/

body {
  background-color: #E0E0E0;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, #site-title
{
  font-family: georgia, "Times New Roman", times;
  color: #7309AA;
}

dt
{
  font-weight: bold;
  color: #7309AA;
}

ul
{
  color: #7409AA;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #1DD300;
  &:hover {
    color: #7AE969;
    background-color: #1DD300;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#title-bar
{
  height: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #52E93A;
  opacity: 0.5;
}

#site-frame
{
  width: 1000px;
  margin: auto;
}

#site-header
{
  height: 100px;
  margin: 2px;
  margin-top: 20px;
  background-color: #52E93A;
  #site-title
  {
    font-size: 3em;
    line-height: 100px;
    font-weight: bold;
  }
}

#site-nav
{
  display: block;
  width: 100%;
  height: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
  ul
  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 2em;
    li
    {
      float: left;
      margin-left: 2px;
      margin-right: 2px;
      a
      {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #FFCA73;
        color: #A66800;
      }
      a.active
      {
        background-color: #A66800;
        color: #FFCA73;
      }
    }
  }
  .right-filler
  {
    overflow: hidden;
    div
    {
      background-color: #FFCA73;
      margin-left: 2px;
      margin-right: 2px;
      height: 2em;
    }
  }
}

#main-content
{
  background-color: #FFFFFF;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
}

div.action-bar
{
  margin-bottom: 1em;
}

table.recordset
{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  border-bottom: 1px solid #7309AA;
  col.actions
  {
    width: 50px;
  }
  thead > tr > td,
  thead > tr > th
  {
    font-weight: bold;
    color: #7309AA;
  }
  thead > tr:last-child
  {
    border-bottom: 1px solid #7309AA;
  }
  tfoot > tr:first-child
  {
    border-top: 1px solid #7309AA;
  }
  tbody > tr:nth-child( odd )
  {
    background-color: #CDC2D3/*#D3CFD6*/;
  }
  tbody > tr:nth-child( even )
  {
    background-color: #FFFFFF;
  }
  tbody > tr > th
  {
    text-align: left;
  }
  td, th
  {
    padding: .2em;
  }
  a
  {
    color: #4A036F;
    &:hover
    {
      background-color: #4A036F;
      color: #CDC2D3;
    }
  }
}